/* line 1, stdin */
html, body {
  box-sizing: border-box; }

/* line 6, stdin */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 11, stdin */
.cf:after {
  clear: both; }

/* line 15, stdin */
p, li {
  font-size: 14px; }

/* line 19, stdin */
.modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block; }

/* line 29, stdin */
.modal-dialog {
  left: auto;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  margin: 30px auto; }

/* line 37, stdin */
.modal-content {
  position: relative;
  background-color: #FFF;
  background-clip: padding-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

/* line 44, stdin */
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0; }

/* line 52, stdin */
.close-button {
  float: right;
  padding: 5px 15px 15px;
  width: 40px; }

/* line 58, stdin */
.close {
  float: right;
  font-size: 50px;
  font-weight: 100;
  line-height: 1;
  color: #BCBCBC;
  font-family: "Open Sans";
  opacity: .3; }

/* line 68, stdin */
.modal-body {
  position: relative;
  padding: 15px 15px 90px 40px; }

/* line 73, stdin */
#content {
  font-family: "Helvetica Neue", sans-serif; }
  /* line 76, stdin */
  #content h1, #content h2, #content h3, #content h4 {
    font-family: "Open Sans";
    font-weight: 100;
    line-height: 1.1; }
  /* line 82, stdin */
  #content h1 {
    font-size: 34px; }
  /* line 85, stdin */
  #content h4 {
    font-size: 12px; }

/* line 90, stdin */
.modal-header {
  background: #303030;
  color: #BCBCBC; }

/* line 95, stdin */
.logo {
  float: left; }
  /* line 97, stdin */
  .logo img {
    height: 124px;
    vertical-align: middle; }

/* line 103, stdin */
.app-info {
  float: left;
  padding: 30px 43px; }
  /* line 106, stdin */
  .app-info h1 {
    margin: 0 0 12px 0; }
  /* line 109, stdin */
  .app-info h4 {
    margin: 0;
    color: #7E7F7E; }

/* line 115, stdin */
.modal-navigation {
  float: right;
  text-align: center;
  height: 124px;
  width: 74px;
  background: #2B2B2B;
  padding: 0 24px; }
  /* line 122, stdin */
  .modal-navigation h3 {
    font-size: 16px;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  /* line 129, stdin */
  .modal-navigation.active {
    background: #2F83CB;
    color: #fff; }

/* line 135, stdin */
.description {
  width: 57%;
  float: left; }
  /* line 138, stdin */
  .description ul {
    padding-left: 15px; }

/* line 143, stdin */
.screenshots {
  width: 37%;
  float: right;
  overflow: hidden;
  margin-right: -15px; }
  /* line 148, stdin */
  .screenshots h2 {
    float: left; }
  /* line 151, stdin */
  .screenshots ul {
    list-style: none;
    padding: 0; }

/* line 157, stdin */
.screenshot-nav {
  margin: 25px 5px;
  float: left; }
  /* line 160, stdin */
  .screenshot-nav li {
    float: left; }
    /* line 162, stdin */
    .screenshot-nav li a {
      display: inline-block;
      margin: 0 5px;
      border: 1px solid #A6A6A6;
      width: 12px;
      height: 12px;
      border-radius: 100%; }
      /* line 169, stdin */
      .screenshot-nav li a.active {
        background: #2F84CC;
        border: none; }

/* line 177, stdin */
.screenshot-images {
  margin: 0;
  clear: both;
  position: relative;
  white-space: nowrap;
  transition: 1s ease-in-out; }
  /* line 183, stdin */
  .screenshot-images li {
    display: inline-block;
    margin-right: 32px; }
    /* line 186, stdin */
    .screenshot-images li:last-child {
      margin-right: 0; }
    /* line 189, stdin */
    .screenshot-images li img {
      width: 240px; }

/* line 198, stdin */
.badge-tail {
  width: 141px;
  height: 35px;
  background-color: #982727;
  border-radius: 4px;
  position: absolute;
  left: 65px;
  bottom: 50px; }

/* line 208, stdin */
.update-badge {
  position: absolute;
  bottom: 15px;
  left: 20px;
  height: 177px;
  width: 177px;
  border-radius: 100%;
  border: 1px solid #D7D7D7;
  overflow: hidden;
  background: #fff; }
  /* line 218, stdin */
  .update-badge h5 {
    position: relative;
    top: 100%;
    transform: translate(16px, -240%);
    margin: 0;
    padding: 9px 25px;
    background-color: #982727;
    color: #FFF;
    border-radius: 4px;
    padding-right: 20px;
    font-size: 14px; }
